.bcenter{
    flex:1;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 60px;
   
}