.shortCutRow{
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    font-size: 14px;
    height: 55px;
}
.shortCutRow:hover{
background-color: lightgray;
border-radius: 10px;
}
.shortCutRow > a{
    margin-left: 15px;
    font-size: medium;
    padding-top: 10px;
}